{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Success!</h1>
    <p>Your form has been submitted successfully.</p>

    <h2>Departments</h2>
        {% for department in departments %}
            <p>Department: {{ department.name }}</p>
        {% endfor %}

    <h2>Employees</h2> 'timestamps': timestamps,

        {% for employee in employees %}
            <p>Employee: {{ employee.first_name }} {{ employee.last_name }}</p>
        {% endfor %}

        {% for timestamp in timestamps %}
            <p>In: {{ timestamp.timestamp_in }} - {{ timestamp.timestamp_out }}</p>
        {% empty %}
            <p>No timestamps yet for today.</p>
        {% endfor %}
{% endblock %}


