{% extends 'base.html' %}

{% block title %}Profile{%  endblock %}

{% block content %}
<div class="container">
    <h1>Profile</h1> 
    
    <h2>Timestamps</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Timestamp In</th>
            <th>Timestamp Out</th>
            <th>Duration</th>
            <th></th>
        </tr>
        {% for timestamp in timestamps %}
        <tr>
            <td>{{timestamp.id}}</td>
            <td>{{timestamp.timestamp_in}}</td>
            <td>{{timestamp.timestamp_out}}</td>
            <td>{{timestamp.duration}}</td>
            <td>
                <a href="{% url 'edit_timestamp' pk=timestamp.id %}" class="table-button">Edit</a>
                <a href="{% url 'delete_timestamp' pk=timestamp.id %}" class="table-button">Delete</a>
            </td>
        </tr>
        {% empty %}
            <p>No timestamps yet for today.</p>
        {% endfor %}
    </table>

</div> 



{% endblock %}